:root {
    --surface: #F8FBF0;
    --primary: #416835;
    --surface-container: #E6E9DF;
    --on-background: #191D17;
    --grid-color: rgba(65, 104, 53, .35);
    --surface-variant: #DFE4D7;
    --on-surface-variant: #43483F;
    --Tertiary: #386668;
    --Secondary: #54634D;
}

@font-face {
    font-family: "Frick";
    src: url(fonts/Frick0.3-Regular.ttf);
}

h1 {
    font-family: Frick;
    font-size: 64px;
    color: var(--on-background);
    line-height: 100%;
}

h2 {
    font-family: Frick;
    font-size: 40px;
    color: var(--primary);
    padding-top: 8px;
    line-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--surface);

}

body {
    min-height: 100vh;
    background-size: 5vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
      linear-gradient(to right, var(--grid-color), transparent 1px),
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-color: var(--surface) !important;

  }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0 10vw;
    background-color: var(--surface-container);
    font-size: 16px;
    font-family: Frick;
    z-index: 5;
}

.page-1 {
    margin-top: 80px;
    padding-top: 40px;
}

.page-2 {
    margin-top: 64px;
    flex-direction: column;
}

.page-2 h1 {
    margin-bottom: 36px;
}

.page-3 {
    margin-top: 64px;
    flex-direction: column;
}

.page-3 h1 {
    margin-bottom: 36px;
}

section {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    color: var(--on-background) !important;
    position: relative;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    overflow: hidden;
}


.nav-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--primary); /* or any color you prefer */
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease; /* Smooth transition for the effect */
    z-index: -1;
}

.hover-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--primary); /* or any color you prefer */
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease; /* Smooth transition for the effect */
    z-index: -1;
    border-radius: 8px;
}


.outlined-btn {
    outline: 3px var(--on-background) solid;
    width: fit-content;
    padding: 8px 16px;
    user-select: none;
    text-decoration: none;
    color: var(--on-background) !important;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: Frick;
    background-color: var(--surface);
    display: flex;
    align-content: center;
    gap: 8px;
    justify-content: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 32px;
}

.hero-img {
    object-fit: cover;
    width: auto;
    height: 30vw;
    border-radius: 80px;
    margin-left: 10vw;
}

.hero-text {
    max-width: 50vw;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .carousel-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  
  .carousel {
    width: 75%;
    overflow: hidden;
    z-index: 3;
  }

  .relative {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slides {
    display: flex;
  }
  
  .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 40px;
}
  
.carousel  button {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-top: -32px;
    transition: 0.3s cubic-bezier(0.5, 0.25, 0.25, 0.5);
    border-radius: 50%;
    user-select: none;
    background: var(--primary);
  }
  
  .prev:hover, .next:hover {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.40));
    margin-top: -28px;
    }
  
  .prev {
    left: 0%;
  }

  .prev img {
    transform: rotate(180deg);
  }
  
  .next {
    right: 0%;
  }
  
  
  .caption {
    background-color: var(--surface-variant);
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    font-family: sans-serif;
    font-weight: 600;
    color: var(--on-surface-variant);
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 64px;
    width: 75%;
  }

  .chip-parent {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }

  .chip {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }

  .tert {
    background-color: var(--Tertiary);
    color: white;
  }

